body {
  font-family: sans-serif;
  margin: 0 50px;
}
 {

}
.container {
  display: flex;
  gap: 50px;
}
/* '.' to reference 'class' */
#posts {
  width: 400px;
}
/* hashtag? */
#posts div { 
  display: flex; 
  align-items: center;
  justify-content: space-between;
} 

.options { 
  display: flex;
  gap: 25px;
}

i {
  cursor: pointer;
}



/*
body {
	padding: 5px;
  margin: 1px;
  background-color:whitesmoke;
}
header {
  font-family: Impact;
  font-size: 15px; 
  text-align: center;
  text-transform: lowercase;
  font-style: oblique;
  color:black;
  padding: 20px;
  margin: 5px;
  background-color:white;
  border: 2px solid;
  border-color:slategray;
}
footer {
  font-family: Impact;
  font-size: 15px;
  text-align: center;
  text-transform: lowercase;
  font-style: oblique;
  padding: 5px;
  margin: 1px;
  color:black;
  background-color: white;
  border: 2px solid;
  border-color:slategray;
}
*/
